<section class="button-banner" role="region" aria-label="{{ banner.Nadpis }}">
    <div class="container">
        <div class="button-banner-inner">
            <div class="decoration-image" role="img"
                 aria-label="{{ banner.AltText|default(banner.Nadpis) }}"
                 style="background-image: url('{{ banner.Obrazek }}');"></div>

            <div class="banner-text">
                <h2>{{ banner.Nadpis }}</h2>

                <p class="buttons" role="group" aria-label="Možnosti akce">
                    {% for tlacitko in banner.Tlacitka %}
                        <a href="{{ tlacitko.Odkaz }}">
                            {{ tlacitko.Text }}
                        </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>
