<article class="person-detail">
    <div class="photo default-{{ clovek.muz ? 'muz' : 'zena' }}">
        {% if clovek.Fotka %}
            <img src="{{ clovek.Fotka }}" alt="Fotografie {{ clovek.Jmeno }}">
        {% endif %}
    </div>

    <div>
        <h4>{{ clovek.Jmeno }}</h4>
        {{ clovek.Funkce }}

        {% if show_email and clovek.Email %}
            <br>
            <a href="mailto:{{ clovek.Email }}">{{ clovek.Email }}</a>
        {% endif %}

        {% if show_telefon %}
            <br>
            {{ clovek.Telefon }}
        {% endif %}
    </div>
</article>
