<a href="{{ dlazdice.Odkaz }}" aria-labelledby="dlazdice-title-{{ loop.index }}">
    <h4 id="dlazdice-title-{{ loop.index }}">
        <span class="image" aria-hidden="true" style="background-image: url({{ dlazdice.Ikona }})"></span>
        {{ dlazdice.Nadpis_dlazdice }}
    </h4>
</a>
