<article>
    <img src="{{ objekt.Obrazek }}" alt="Foto {{ objekt.Nazev }}">

    <h3>
        {% if objekt.Odkaz_mapa %}
            <a href="{{ objekt.Odkaz_mapa }}">{{ objekt.Nazev }}</a>
        {% else %}
            {{ objekt.Nazev }}
        {% endif %}
    </h3>

    <address>
        {{ objekt.Telefon }}<br>
        <a href="mailto:{{ objekt.Email }}">{{ objekt.Email }}</a>
        {% if objekt.Odkaz_web %}
            <br>
            <a class="website-link" href="{{ objekt.Odkaz_web }}">Navštívit web</a>
        {% endif %}
    </address>
</article>
