<article style="--tooltip: '{% if number < 10 %}0{% endif %}{{ number }}';">
    <img src="{{ objekt.Obrazek }}" alt="Foto {{ objekt.Nazev }}">

    <h3>
        {% if objekt.Odkaz_mapa %}
            <a target="_blank" href="{{ objekt.Odkaz_mapa }}">{{ objekt.Nazev }}</a>
        {% else %}
            {{ objekt.Nazev }}
        {% endif %}
    </h3>

    <address>
        {% if objekt.Adresa %}
            <span class="address">{{ objekt.Adresa }}</span><br>
        {% endif %}

        {{ objekt.Telefon }}
        {% if objekt.Email %}
            <br>
            <a href="mailto:{{ objekt.Email }}">{{ objekt.Email }}</a>
        {% endif %}


        {% if objekt.Odkaz_web %}
            <br>
            <a target="_blank" class="website-link" href="{{ objekt.Odkaz_web }}">Navštívit web</a>
        {% endif %}
    </address>
</article>
