<article>
    <h3>{{ objekt.Nazev }}</h3>

    <address>
        {{ objekt.Telefon }}
        {{ objekt.Email }}
        {{ objekt.Odkaz_web }}
        {{ objekt.Adresa }}
        {{ objekt.Odkaz_mapa }}
    </address>
</article>

{# {{ objekt.Obrazek }} #}
