<section class="sekce-s-dlazdicema" role="region" aria-label="{{ sekce.Nadpis }}">
    <h3>{{ sekce.Nadpis }}</h3>

    {% if sekce.Popis %}
        {{ sekce.Popis|markdown_to_html|nl2br }}
    {% endif %}

    <div class="dlazdice-wrapper" role="list" aria-label="{{ sekce.Nadpis }}">
        {% for dlazdice in sekce.Dlazdice %}
            <div role="listitem">
                {{ include('_dlazdice.html.twig') }}
            </div>
        {% endfor %}
    </div>
</section>
