<section class="uredni-deska-section">
    {% for uredni_deska_dokument in uredni_deska %}
        <article>
            <h4 id="uredni-deska-{{ uredni_deska_dokument.id }}">
                <a href="{{ path('detail_uredni_desky', {'id': uredni_deska_dokument.id}) }}">
                    {{ uredni_deska_dokument.Nadpis }}
                </a>
            </h4>

            <p>
                Zveřejněno <time>{{ uredni_deska_dokument.Datum_zverejneni|date('d.m.Y') }}</time>
                {% if uredni_deska_dokument.Datum_stazeni %}
                    do <time>{{ uredni_deska_dokument.Datum_stazeni|date('d.m.Y') }}</time>
                {% endif %}
            </p>

            {% if uredni_deska_dokument.Zodpovedna_osoba %}
                <p>Zveřejnil {{ uredni_deska_dokument.Zodpovedna_osoba.Jmeno }}</p>
            {% endif %}

            {% for file in uredni_deska_dokument.Soubory %}
                <a class="file-link" href="{{ file.url }}">
                    <span class="file-caption">{{ file.caption}}</span>
                    <span class="file-info">({{ file.ext}} {{ file.kbytes }}kb)</span>
                    <span class="icon-download"></span>
                </a>
            {% endfor %}

            {% if uredni_deska_dokument.Kategorie %}
                <p class="tags">
                    {% for Kategorie in uredni_deska_dokument.Kategorie %}
                        {#  <a href="{{ Kategorie.name }}" class="tag-link">{{ Kategorie.value }}</a> #}
                        <span class="tag-link">{{ Kategorie.value }}</span>
                    {% endfor %}
                </p>
            {% endif %}
        </article>
    {% endfor %}
</section>

