{% set year_filter_value = years_filter_name ? app.request.query.get(years_filter_name) : null %}

<section class="uredni-deska-section">
    {% if years %}
        <ul class="years-selector">
            <li class="show-only">Zobrazit pouze rok:</li>
            {% for year in years %}
                <li>
                    <a class="year" href="{{ path(app.request.attributes.get('_route')) }}?{{ years_filter_name }}={{ year }}">
                        {{ year }}
                    </a>
                </li>
            {% endfor %}
            {% if year_filter_value %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route')) }}">
                        Zrušit filtrování ({{ year_filter_value }})
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    {% for uredni_deska_dokument in uredni_deska %}
        {% if not year_filter_value or year_filter_value is same as uredni_deska_dokument.Datum_zverejneni.format('Y') %}
            <article>
                <p class="time">
                    Zveřejněno <time>{{ uredni_deska_dokument.Datum_zverejneni|date('d.m.Y') }}</time>
                    {% if uredni_deska_dokument.Datum_stazeni %}
                        do <time>{{ uredni_deska_dokument.Datum_stazeni|date('d.m.Y') }}</time>
                    {% endif %}
                </p>
                <h4 id="uredni-deska-{{ uredni_deska_dokument.id }}">
                    {% if uredni_deska_dokument.slug %}
                        <a
                            {% if iframe %}
                                href="{{ path('iframe_detail_uredni_desky', {'slug': uredni_deska_dokument.slug}) }}"
                            {% else %}
                                href="{{ path('detail_uredni_desky', {'slug': uredni_deska_dokument.slug}) }}"
                            {% endif %}
                        >
                            {{ uredni_deska_dokument.Nadpis }}
                        </a>
                    {% else %}
                        {{ uredni_deska_dokument.Nadpis }}
                    {% endif %}
                </h4>

                {% if show_categories and uredni_deska_dokument.Kategorie %}
                    <p class="tags">
                        {% for Kategorie in uredni_deska_dokument.Kategorie %}
                            <a
                                {% if iframe %}
                                    href="{{ path('iframe_uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}"
                                {% else %}
                                    href="{{ path('uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}"
                                {% endif %}
                            class="tag-link">
                                {{ Kategorie.value }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            </article>
        {% endif %}
    {% endfor %}
</section>

