{{ include('_breadcrumb.html.twig', {
    'current': page_title,
    'items': {
        'urad': 'Obecní úrad',
        'urad_dokumenty_uradu': 'Dokumenty úřadu',
    },
}) }}

<section class="uzemni-dokumenty-section">
    <h2>{{ dokument.Nadpis }}</h2>

    {% if dokument.Uredni_deska %}
        {{ include('_uredni_deska.html.twig', {
            'uredni_deska': dokument.Uredni_deska,
            'show_categories': false,
        }) }}
    {% endif %}

    {% for Kategorie in dokument.Kategorie %}
        <article class="kategorie">
            <h3>{{ Kategorie.Nazev }}</h3>

            {% if Kategorie.Datum_vyveseni %}
                <time>{{ Kategorie.Datum_vyveseni|date('d.m.Y') }}</time>
            {% endif %}

            {% if Kategorie.Dokumenty %}
                <ul class="dokumenty">

                    {% for Dokument in Kategorie.Dokumenty %}
                        <li>
                            {% if Dokument.Datum_nahrani %}
                                <time>{{ Dokument.Datum_nahrani|date('d.m.Y') }}</time>
                            {% endif %}

                            {% if Dokument.Soubor %}
                                <a class="file-link" href="{{ Dokument.Soubor.url }}">
                                    <span class="file-caption name">{{ Dokument.Nazev }}</span>
                                    <span class="file-info">({{ Dokument.Soubor.kbytes }}kb)</span>
                                    <span class="icon-download"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if Kategorie.Obsah %}
                {{ Kategorie.Obsah|markdown_to_html|nl2br }}
            {% endif %}
        </article>
    {% endfor %}
</section>
