{% extends 'base.html.twig' %}

{% block title %}Aktuality{% endblock %}

{% block content %}
    <section>
        <h2>Aktuality</h2>

        {% for aktualita in aktuality %}
            <article>
                <time>{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>

                <h3 id="aktualita-{{ aktualita.id }}">
                    <a href="{{ path('detail_aktuality', {'id': aktualita.id}) }}">
                        {{ aktualita.Nadpis }}
                    </a>
                </h3>

                <p>{{ aktualita.Popis }}</p>

                {% if aktualita.Obrazek %}
                    <img src="{{ aktualita.Obrazek }}" alt="" aria-labelledby="aktualita-{{ aktualita.id }}">
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}

