{% extends 'base.html.twig' %}

{% block title %}Aktuality{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {
        'items': [],
        'current': block('title'),
    }) }}

    <section class="aktuality-section">
        <h2>Aktuality</h2>

        {% if tagy %}
            <p class="tags">
                {% for TagSlug, Tag in tagy %}
                    <a href="{{ path('aktuality_tag_filter', {'tag': TagSlug}) }}" class="tag-link {% if TagSlug is same as active_tag %}active_tag{% endif %}">
                        {{ Tag }}
                    </a>
                {% endfor %}
            </p>
        {% endif %}

        {% for aktualita in aktuality %}
            <article>
                {% if aktualita.Obrazek %}
                    <img src="{{ aktualita.Obrazek }}" alt="" aria-labelledby="aktualita-{{ aktualita.id }}">
                {% endif %}

                <div class="actuality-content">
                    <h3 id="aktualita-{{ aktualita.id }}">
                        {% if aktualita.slug %}
                            <a href="{{ path('detail_aktuality', {'slug': aktualita.slug}) }}">
                                {{ aktualita.Nadpis }}
                            </a>
                        {% else %}
                            {{ aktualita.Nadpis }}
                        {% endif %}
                    </h3>

                    <p><time>{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time></p>

                    {% if aktualita.Tagy %}
                        <p class="tags">
                            {% for TagSlug, Tag in aktualita.Tagy %}
                                <a href="{{ path('aktuality_tag_filter', {'tag': TagSlug}) }}" class="tag-link">
                                    {{ Tag }}
                                </a>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {{ aktualita.Popis|u.truncate(150, '...', true)|markdown_to_html|nl2br }}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}

