<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="format-detection" content="telephone=no">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">

    <title>{% if app.request.pathInfo != path('homepage') %}{% block title %}{% endblock%} - {% endif %}Obec Čeladná</title>

    <meta name="description" content="Obec Čeladná se nachází v okrese Frýdek-Místek v Moravskoslezském kraji. Obec je situována v podhůří Beskyd. Žije zde přibližně 2 900 obyvatel. ">

    <link rel="canonical" href="https://celadna.cz">

    <title>{% if app.request.pathInfo != path('homepage') %}{{ block('title') }} - {% endif %}Obec Čeladná</title>
    <meta property="og:description" content="Obec Čeladná se nachází v okrese Frýdek-Místek v Moravskoslezském kraji. Obec je situována v podhůří Beskyd. Žije zde přibližně 2 900 obyvatel. ">

    <meta property="og:url" content="https://celadna.cz">

    <meta property="og:site_name" content="Čeladná.cz">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if app.request.pathInfo != path('homepage') %}{{ block('title') }} - {% endif %}Obec Čeladná">
    <meta name="twitter:description" content="Obec Čeladná se nachází v okrese Frýdek-Místek v Moravskoslezském kraji. Obec je situována v podhůří Beskyd. Žije zde přibližně 2 900 obyvatel. ">
</head>
<body>

    <header>
        <h1>{% if app.request.pathInfo != path('homepage') %}{{ block('title') }} - {% endif %}Obec Čeladná</h1>
        <img src="" alt="Znak obce">

        <nav>
            <a href="{{ path('homepage') }}">Úvodní stránka</a>
            <a href="#">Instagram</a>
            <a href="https://www.facebook.com/obecceladna/">Facebook</a>

            <a href="{{ path('obec_aktivity') }}">Obec</a>
            <a href="{{ path('urad') }}">Úřad</a>
            <a href="{{ path('urad_samosprava') }}">Samospráva</a>
            <a href="{{ path('aktuality') }}">Aktuality</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Aplikace Obec Čeladná ke stažení zdarma.</p>

        <nav>
            <a href="https://play.google.com/store/apps/details?id=cz.tripon.obecceladna">Stáhnout z Google Play</a>
            <a href="https://itunes.apple.com/us/app/obec-celadna/id1102072135?l=cs&ls=1&mt=8">Stáhnout z Apple App Store</a>
        </nav>

        {% for footerItem in footer %}
            <a href="{{ footerItem.Odkaz }}">
                <img src="{{ footerItem.Obrazek }}" alt="">
            </a>
        {% endfor %}

        <nav>
            <a href="{{ path('pristupnost') }}">Prohlášení o přístupnosti</a>
            <a href="{{ path('mapa_stranek') }}">Mapa stránek</a>
            <a href="{{ path('gdpr') }}">Ochrana osobních údajů</a>
        </nav>

        <p>
            Copyright &copy; Čeladná
            Všechna práva vyhrazena.
            Vytvořil <a href="https://wantoo.cz">Wantoo design</a>
        </p>

    </footer>


</body>
</html>
