{% extends 'base.html.twig' %}

{% block title %}{{ uredni_deska.Nadpis }}{% endblock %}

{% block content %}
    <article class="uredni-deska-detail">
        <h2 id="uredni-deska-{{ uredni_deska.id }}">{{ uredni_deska.Nadpis }}</h2>

        <p>
            Zveřejněno <time>{{ uredni_deska.Datum_zverejneni|date('d.m.Y') }}</time>
            {% if uredni_deska.Datum_stazeni %}
                do <time>{{ uredni_deska.Datum_stazeni|date('d.m.Y') }}</time>
            {% endif %}
        </p>

        {% if uredni_deska.Zodpovedna_osoba %}
            <p>Zveřejnil {{ uredni_deska.Zodpovedna_osoba.Jmeno }}</p>
        {% endif %}


        {% if uredni_deska.Kategorie %}
            <p class="tags">
                {% for Kategorie in uredni_deska.Kategorie %}
                    {#  <a href="{{ Kategorie.name }}" class="tag-link">{{ Kategorie.value }}</a> #}
                    <span class="tag-link">{{ Kategorie.value }}</span>
                {% endfor %}
            </p>
        {% endif %}

        {% if uredni_deska.Soubory %}
            <p>
                {% for soubor in uredni_deska.Soubory %}
                    <a href="{{ soubor }}">Dokument ke stažení</a>
                {% endfor %}
            </p>
        {% endif %}

        {% if uredni_deska.Popis %}
            {{ uredni_deska.Popis|markdown_to_html }}
        {% endif %}
    </article>
{% endblock %}

