{% extends 'base.html.twig' %}

{% block title %}{{ aktualita.Nadpis }}{% endblock %}

{% block content %}
    <section class="detail-aktuality-section">
        <nav>
            <a href="{{ path('aktuality') }}">Všechny příspěvky</a>
            <a href="{{ path('urad_dokumenty_formulare') }}">Formuláře</a>
            <a href="{{ path('urad_dokumenty_odpady') }}">Odpady</a>
            <a href="{{ path('urad_dokumenty_vyhlasky') }}">Vyhlášky</a>
        </nav>

        <article>
            <h2 id="aktualita-{{ aktualita.id }}">{{ aktualita.Nadpis }}</h2>

            <p>
                {% if aktualita.Zverejnil %}
                    {{ aktualita.Zverejnil.Jmeno }}
                {% endif %}
                <time>{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>
            </p>

            {{ aktualita.Popis|markdown_to_html|nl2br }}

            {% if aktualita.Obrazek %}
                <img src="{{ aktualita.Obrazek }}" alt="" aria-labelledby="aktualita-{{ aktualita.id }}">
            {% endif %}
        </article>
    </section>
{% endblock %}

