{% extends 'base.html.twig' %}

{% block title %}{{ aktualita.Nadpis }}{% endblock %}

{% block content %}
    <nav>
        <a href="{{ path('aktuality') }}">Všechny příspěvky</a>
        <a href="{{ path('urad_dokumenty_formulare') }}">Formuláře</a>
        <a href="{{ path('urad_dokumenty_odpady') }}">Odpady</a>
        <a href="{{ path('urad_dokumenty_vyhlasky') }}">Vyhlášky</a>
    </nav>

    <section>
        <h2 id="aktualita-{{ aktualita.id }}">{{ aktualita.Nadpis }}</h2>

        <p>
            {{ aktualita.Zverejnil.Jmeno }}
            <time>{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>
        </p>

        <p>{{ aktualita.Popis }}</p>

        {% if aktualita.Obrazek %}
            <img src="{{ aktualita.Obrazek }}" alt="" aria-labelledby="aktualita-{{ aktualita.id }}">
        {% endif %}
    </section>
{% endblock %}

