{% extends 'base.html.twig' %}

{% block title %}{{ aktualita.Nadpis }}{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {
        'items': {
            'aktuality': 'Aktuality',
        },
        'current': block('title'),
    }) }}

    <section class="detail-aktuality-section">
        {#
        <nav>
            <a href="{{ path('aktuality') }}">Všechny příspěvky</a>
            <a href="{{ path('urad_dokumenty_formulare') }}">Formuláře</a>
            <a href="{{ path('urad_dokumenty_odpady') }}">Odpady</a>
            <a href="{{ path('urad_dokumenty_vyhlasky') }}">Vyhlášky</a>
        </nav>
        #}

        <article>
            <h2 id="aktualita-{{ aktualita.id }}">{{ aktualita.Nadpis }}</h2>

            <p>
                {% if aktualita.Zverejnil %}
                    {{ aktualita.Zverejnil.Jmeno }}<br>
                {% endif %}
                <time>{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>
            </p>


            {% if aktualita.Tagy %}
                <p class="tags">
                    {% for Tag in aktualita.Tagy %}
                        {#  <a href="{{ Kategorie.name }}" class="tag-link">{{ Kategorie.value }}</a> #}
                        <span class="tag-link">{{ Tag }}</span>
                    {% endfor %}
                </p>
            {% endif %}

            {% if aktualita.Obrazek %}
                <div class="img-wrapper">
                    <img src="{{ aktualita.Obrazek }}" alt="" aria-labelledby="aktualita-{{ aktualita.id }}">
                </div>
            {% endif %}

            {{ aktualita.Popis|markdown_to_html|nl2br }}
        </article>
    </section>
{% endblock %}

