{% extends 'base.html.twig' %}

{% block title %}{{ uredni_deska.Nadpis }}{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'uredni_deska': 'Úřední deska',
        },
    }) }}

    <article class="uredni-deska-detail" role="region" aria-labelledby="uredni-deska-{{ uredni_deska.id }}">
        <h2 id="uredni-deska-{{ uredni_deska.id }}">{{ uredni_deska.Nadpis }}</h2>

        {% if display_publish_date %}
            <p>
                Zveřejněno <time datetime="{{ uredni_deska.Datum_zverejneni|date('Y-m-d') }}">{{ uredni_deska.Datum_zverejneni|date('d.m.Y') }}</time>
                {% if uredni_deska.Datum_stazeni %}
                    do <time datetime="{{ uredni_deska.Datum_stazeni|date('Y-m-d') }}">{{ uredni_deska.Datum_stazeni|date('d.m.Y') }}</time>
                {% endif %}
            </p>
        {% endif %}

        {% if uredni_deska.Zodpovedna_osoba %}
            <p>Zveřejnil {{ uredni_deska.Zodpovedna_osoba.Jmeno }}</p>
        {% endif %}

        {% if display_image %}
            <p class="text-center">
                <img src="{{ asset('images/' ~ display_image) }}" alt="{{ uredni_deska.Nadpis }}" style="max-width: 100%;">
            </p>
        {% endif %}

        {% if uredni_deska.Kategorie %}
            <p class="tags" role="list" aria-label="Kategorie dokumentu">
                {% for Kategorie in uredni_deska.Kategorie %}
                    <a href="{{ path('uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}" class="tag-link" role="listitem">{{ Kategorie.value }}</a>
                {% endfor %}
            </p>
        {% endif %}

        {% if uredni_deska.Soubory %}
            <ul class="files-list" aria-label="Seznam souborů">
                {% for file in uredni_deska.Soubory %}
                    <li>
                        <a class="file-link" href="{{ file.url }}">
                            <span class="file-caption">{{ file.caption}}</span>
                            <span class="file-info">({{ file.kbytes }}kb)</span>
                            <span class="icon-download" aria-hidden="true"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if uredni_deska.Popis %}
            {{ uredni_deska.Popis|markdown_to_html|nl2br }}
        {% endif %}
    </article>
{% endblock %}
