{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <article>
            <h2>Golf a turistika</h2>
            <p>V novodobé historii se Čeladná stala nejen vyhlášeným golfovým rájem, ale také významným turistickým centrem. Na počátku 21. století prošla většina zdejších ubytovacích zařízení výraznou modernizací a zároveň začaly vyrůstat nové hotely a penziony. Díky tomu dnes v obci najdou vhodné místo k rekreaci rodiny s dětmi, turisté i klienti, kteří hledají služby na nejvyšší světové úrovni.</p>
        </article>

        <article>
            <h2>Moderní obec</h2>
            <p>Nová éra Čeladné se datuje k roku 2000, kdy bylo v obci otevřeno největší golfové hřiště v ČR a začala výstavba nového centra obce. Od té doby zažívá Čeladná bouřlivý rozvoj a stala se vyhledávaným místem pro bydlení i rekreaci.</p>
        </article>

        <article>
            <h2>Lázeňství</h2>
            <p>Na lázeňskou tradici navázalo Beskydské rehabilitační centrum na úpatí Ondřejníku. Díky&nbsp; vysoké úrovni rehabilitační péče je BRC vyhledávaným zdravotnickým zařízením. Lara Spa doplnilo léčebné kůry o nadstandardní wellness služby a spolu s možností komfortního ubytování a stravování jezdí za vzácnou atmosférou rodinných lázní do Čeladné pacienti a hosté z celé republiky.</p>
        </article>
    </section>

    <section>
        <h2>Hledáte u nás?</h2>

        <a href="{{ path('obec_ubytovani') }}">Zobrazit Ubytování</a>
        <a href="{{ path('obec_restaurace') }}">Zobrazit Restaurace</a>
        <a href="{{ path('obec_aktivity') }}">Zobrazit Aktivity</a>
        <a href="{{ path('obec_vylety') }}">Zobrazit Výlety</a>
    </section>

    <section>
        <h2>Infoservis</h2>

        <h3>Aktuality</h3>

        {% for aktualita in aktuality %}
            <article>
                <time>{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>
                <h4>
                    <a href="{{ path('detail_aktuality', {'id': aktualita.id}) }}">
                        {{ aktualita.Nadpis }}
                    </a>
                </h4>
                <p>{{ aktualita.Popis }}</p>
            </article>
        {% endfor %}

        <a href="{{ path('aktuality') }}">Všechny aktuality</a>

        <h3>Úřední deska</h3>

        {% for uredni_deska_aktualita in uredni_deska %}
            <article>
                <time>Zveřejněno od {{ uredni_deska_aktualita.Datum_zverejneni|date('d.m.Y') }} {% if uredni_deska_aktualita.Datum_stazeni %}do {{ uredni_deska_aktualita.Datum_stazeni|date('d.m.Y') }}{% endif %}</time>
                <h4>
                    <a href="{{ path('detail_uredni_desky', {'id': uredni_deska_aktualita.id}) }}">
                        {{ uredni_deska_aktualita.Nadpis }}
                    </a>
                </h4>
            </article>
        {% endfor %}

        <a href="{{ path('uredni_deska') }}">Celá úřední deska</a>
    </section>
{% endblock %}
