{% extends 'base.html.twig' %}

{% block content %}
    <div class="carousel-wrapper">
        <section id="homepage-carousel" class="carousel slide" data-bs-ride="carousel"
                 role="region" aria-roledescription="carousel" aria-label="Hlavní karusel">
            <div class="carousel-inner">
                <article class="carousel-item active"
                         aria-roledescription="slide" aria-label="Slide 1: Turistická oblast">
                    <div class="container">
                        <a href="{{ path('virtualni_prohlidka') }}" target="_blank" class="text-white text-decoration-none">
                            <span role="presentation" class="decoration-image image-virtualni-prohlidka"></span>
                            <div class="slide-inner">
                                <h2>Virtuální prohlídka</h2>
                                <p>Objevte Čeladnou z pohodlí domova, projděte si obec díky naší interaktivní virtuální prohlídce. Poznejte malebné prostředí Beskyd, zajímavá místa i atmosféru, která dělá Čeladnou jedinečnou.</p>
                                <button type="button" class="btn btn-light btn-lg border-0 mt-3">Zobrazit prohlídku</button>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="carousel-item"
                         aria-roledescription="slide" aria-label="Slide 1: Turistická oblast">
                    <div class="container">
                        <a href="https://www.beskydyportal.cz" target="_blank" class="text-white text-decoration-none">
                            <span role="presentation" class="decoration-image image-turisticka-oblast"></span>
                            <div class="slide-inner">
                                <h2>Turistická oblast</h2>
                                <p>Obec Čeladná je hrdým partnerem regionální značky <strong>Beskydy Valašsko</strong>, která propaguje kvalitní služby, produkty a zážitky z našeho kraje. Společně podporujeme rozvoj turismu, tradičních řemesel a šetrného přístupu k přírodě v srdci Beskyd.</p>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="carousel-item"
                         aria-roledescription="slide" aria-label="Slide 2: Moderní obec">
                    <div class="container">
                        <span role="presentation" class="decoration-image image-moderni-obec"></span>
                        <div class="slide-inner">
                            <h2>Moderní obec</h2>
                            <p>Nová éra Čeladné se datuje k roku 1999, kdy byla v obci zahájena výstavba nového centra obce, které bylo dokončeno v roce 2002. V roce 2001 bylo v obci otevřeno největší golfové hřiště v ČR. Od té doby zažívá Čeladná bouřlivý rozvoj a stala se vyhledávaným místem pro bydlení i rekreaci.</p>
                        </div>
                    </div>
                </article>

                <article class="carousel-item"
                         aria-roledescription="slide" aria-label="Slide 3: Golf a turistika">
                    <div class="container">
                        <span role="presentation" class="decoration-image image-golf"></span>
                        <div class="slide-inner">
                            <h2>Golf a turistika</h2>
                            <p>V novodobé historii se Čeladná stala nejen vyhlášeným golfovým rájem, ale také významným turistickým centrem. Na počátku 21. století prošla většina zdejších ubytovacích zařízení výraznou modernizací a zároveň začaly vyrůstat nové hotely a penziony. Díky tomu dnes v obci najdou vhodné místo k rekreaci rodiny s dětmi, turisté i klienti, kteří hledají služby na nejvyšší světové úrovni.</p>
                        </div>
                    </div>
                </article>

                <article class="carousel-item"
                         aria-roledescription="slide" aria-label="Slide 4: Lázeňství">
                    <div class="container">
                        <span role="presentation" class="decoration-image image-lazenstvi"></span>
                        <div class="slide-inner">
                            <h2>Lázeňství</h2>
                            <p>Na lázeňskou tradici navázalo Beskydské rehabilitační centrum na úpatí Ondřejníku. Díky&nbsp; vysoké úrovni rehabilitační péče je BRC vyhledávaným zdravotnickým zařízením. Lara Spa doplnilo léčebné kůry o nadstandardní wellness služby a spolu s možností komfortního ubytování a stravování jezdí za vzácnou atmosférou rodinných lázní do Čeladné pacienti a hosté z celé republiky.</p>
                        </div>
                    </div>
                </article>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#homepage-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Předchozí</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#homepage-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Další</span>
            </button>
        </section>
    </div>

    <section class="homepage-quick-links" role="region" aria-labelledby="quicklinks-heading">
        <h2 id="quicklinks-heading">Hledáte u nás?</h2>

        <ul>
            <li style="--tooltip: '01';" class="link-ubytovani"><a href="{{ path('obec_ubytovani') }}"><span>Zobrazit</span> Ubytování</a></li>
            <li style="--tooltip: '02';" class="link-restaurace"><a href="{{ path('obec_restaurace') }}"><span>Zobrazit</span> Restaurace</a></li>
            <li style="--tooltip: '03';" class="link-aktivity"><a href="{{ path('obec_aktivity') }}"><span>Zobrazit</span> Aktivity</a></li>
            <li style="--tooltip: '04';" class="link-vylety"><a href="{{ path('obec_vylety') }}"><span>Zobrazit</span> Výlety</a></li>
        </ul>
    </section>

    <section class="homepage-infoservis" role="region" aria-labelledby="infoservis-heading">
        <div class="container">
            <h2 id="infoservis-heading">Infoservis</h2>

            <div class="content-wrapper">
                <section class="homepage-aktuality" aria-labelledby="aktuality-heading">
                    <h3 id="aktuality-heading">Aktuality</h3>

                    {% for aktualita in aktuality %}
                        <article id="aktualita-{{ aktualita.id }}" role="region" aria-labelledby="aktualita-title-{{ aktualita.id }}">
                            <h4 id="aktualita-title-{{ aktualita.id }}">
                                {% if aktualita.slug %}
                                    <a href="{{ path('detail_aktuality', {'slug': aktualita.slug}) }}">
                                        {{ aktualita.Nadpis }}
                                    </a>
                                {% else %}
                                    {{ aktualita.Nadpis }}
                                {% endif %}
                            </h4>

                            <p class="time"><time datetime="{{ aktualita.DatumZverejneni|date('Y-m-d') }}">
                              {{ aktualita.DatumZverejneni|date('d.m.Y') }}
                            </time></p>

                            {{ aktualita.Popis|u.truncate(150, '...', true)|markdown_to_html|nl2br }}
                        </article>
                    {% endfor %}

                    <a class="all-link" href="{{ path('aktuality') }}">Všechny aktuality</a>
                </section>

                <section class="homepage-uredni-deska" aria-labelledby="uredni-deska-heading">
                    <h3 id="uredni-deska-heading">Úřední deska</h3>

                    {% for uredni_deska_dokument in uredni_deska %}
                        <article id="uredni-deska-{{ uredni_deska_dokument.id }}" role="region" aria-labelledby="uredni-deska-title-{{ uredni_deska_dokument.id }}">
                            <p class="time">
                                Zveřejněno od <time datetime="{{ uredni_deska_dokument.Datum_zverejneni|date('Y-m-d') }}">
                                  {{ uredni_deska_dokument.Datum_zverejneni|date('d.m.Y') }}
                                </time> {% if uredni_deska_dokument.Datum_stazeni %}do <time datetime="{{ uredni_deska_dokument.Datum_stazeni|date('Y-m-d') }}">
                                  {{ uredni_deska_dokument.Datum_stazeni|date('d.m.Y') }}
                                </time>{% endif %}
                            </p>

                            <h4 id="uredni-deska-title-{{ uredni_deska_dokument.id }}">
                                {% if uredni_deska_dokument.slug %}
                                    <a href="{{ path('detail_uredni_desky', {'slug': uredni_deska_dokument.slug}) }}">
                                        {{ uredni_deska_dokument.Nadpis }}
                                    </a>
                                {% else %}
                                    {{ uredni_deska_dokument.Nadpis }}
                                {% endif %}
                            </h4>


                            {% if uredni_deska_dokument.Kategorie %}
                                <p class="tags">
                                    {% for Kategorie in uredni_deska_dokument.Kategorie %}
                                        <a href="{{ path('uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}" class="tag-link">{{ Kategorie.value }}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </article>
                    {% endfor %}

                    <a class="all-link" href="{{ path('uredni_deska') }}">Celá úřední deska</a>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
