{% extends 'base.html.twig' %}

{% block title %}{{ uredni_deska.Nadpis }}{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    <article class="uredni-deska-detail trimmed-section">
        <h2 id="uredni-deska-{{ uredni_deska.id }}">{{ uredni_deska.Nadpis }}</h2>

        <p>
            Zveřejněno <time>{{ uredni_deska.Datum_zverejneni|date('d.m.Y') }}</time>
            {% if uredni_deska.Datum_stazeni %}
                do <time>{{ uredni_deska.Datum_stazeni|date('d.m.Y') }}</time>
            {% endif %}
        </p>

        {% if uredni_deska.Zodpovedna_osoba %}
            <p>Zveřejnil {{ uredni_deska.Zodpovedna_osoba.Jmeno }}</p>
        {% endif %}


        {% if uredni_deska.Kategorie %}
            <p class="tags">
                {% for Kategorie in uredni_deska.Kategorie %}
                    <a href="{{ path('iframe_uredni_deska_kategorie_filter', {'kategorie': Kategorie.slug}) }}" class="tag-link">{{ Kategorie.value }}</a>
                {% endfor %}
            </p>
        {% endif %}

        {% if uredni_deska.Soubory %}
            <ul class="files-list">
                {% for file in uredni_deska.Soubory %}
                    <li>
                        <a class="file-link" href="{{ file.url }}">
                            <span class="file-caption">{{ file.caption}}</span>
                            <span class="file-info">({{ file.kbytes }}kb)</span>
                            <span class="icon-download"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if uredni_deska.Popis %}
            {{ uredni_deska.Popis|markdown_to_html|nl2br }}
        {% endif %}
    </article>
{% endblock %}

