{% extends 'base.html.twig' %}

{% block title %}Služby{% endblock %}

{% block content %}
    {{ include('_banner_s_tlacitkama.html.twig', {
       'banner': sluzby.BannerSTlacitkama
    }) }}

    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'obec': 'Obec',
        },
    }) }}

    <section class="sluzby-section" role="region" aria-label="Služby">
        <div class="sluzby-wrapper">
            {% for sluzba in sluzby.Sluzby %}
                <article id="sluzba-{{ sluzba.id }}" role="region" aria-labelledby="sluzba-title-{{ sluzba.id }}">
                    <h3 id="sluzba-title-{{ sluzba.id }}">{{ sluzba.Nadpis }}</h3>

                    <p>
                      <a href="tel:{{ sluzba.Telefon }}" aria-label="Zavolat na {{ sluzba.Telefon }}">
                        {{ sluzba.Telefon }}
                      </a>
                    </p>

                    {{ sluzba.Obsah|markdown_to_html|nl2br }}
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
