{% extends 'base.html.twig' %}

{% block title %}Služby{% endblock %}

{% block content %}
    {{ include('_banner_s_tlacitkama.html.twig', {
       'banner': sluzby.BannerSTlacitkama
    }) }}

    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'obec': 'Obec',
        },
    }) }}

    <section class="sluzby-section">
        <div class="sluzby-wrapper">
            {% for sluzba in sluzby.Sluzby %}
                <article id="{{ sluzba.Nadpis|lower|slug }}">
                    <h3>{{ sluzba.Nadpis }}</h3>

                    <p>{{ sluzba.Telefon }}</p>

                    {{ sluzba.Obsah|markdown_to_html|nl2br }}
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
