{% extends 'base.html.twig' %}

{% block title %}Struktura úřadu{% endblock %}

{% block content %}
    {{ include('_banner_s_textem.html.twig', {
        banner: struktura_uradu.Banner
    }) }}

    {{ include('_breadcrumb.html.twig', {
        'current': page_title,
        'items': {
            'urad': 'Obecní úrad',
        },
    }) }}

    <section class="struktura-uradu-section">
        <h3>Struktura úřadu</h3>

        {% for clovek in struktura_uradu.Struktura_uradu %}
            {{ include('_clovek.html.twig', {
                'show_email': true,
                'show_telefon': false
            }) }}
        {% endfor %}

        {% if struktura_uradu.Obsah %}
            <div class="mt-5 mb-5">
                {{ struktura_uradu.Obsah|markdown_to_html }}
            </div>
        {% endif %}

        <h3>Struktura stavebního úřadu</h3>

        {% for clovek in struktura_uradu.Struktura_stavebniho_uradu %}
            {{ include('_clovek.html.twig',{
                'show_email': true,
                'show_telefon': false
            }) }}
        {% endfor %}
    </section>
{% endblock %}

