{% extends 'base.html.twig' %}

{% block title %}Samospráva{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'urad': 'Obecní úrad',
        },
    }) }}

    <section class="samosprava-section" role="region" aria-label="Samospráva">
        <h2>Samospráva</h2>

        {% for kategorie in kategorie_samospravy %}
            <h3 id="kategorie-{{ kategorie.Nadpis|slug|lower }}" role="heading" aria-level="3">{{ kategorie.Nadpis }}</h3>
            <p aria-labelledby="kategorie-{{ kategorie.Nadpis|slug|lower }}">{{ kategorie.Obsah }}</p>

            {% for clovek in kategorie.Lide %}
                {{ include('_clovek.html.twig', {
                    'show_email': false,
                    'show_telefon': false
                }) }}
            {% endfor %}

            {% if kategorie.Uredni_deska %}
                {% if kategorie.Nadpis_uredni_desky %}
                    <h4 class="uredni-deska-title" role="heading" aria-level="4">{{ kategorie.Nadpis_uredni_desky }}</h4>
                {% endif %}

                {{ include('_uredni_deska.html.twig', {
                    'uredni_deska': kategorie.Uredni_deska,
                    'show_categories': true,
                    'years': kategorie.Uredni_deska_roky,
                    'years_filter_name': kategorie.Nadpis|slug|lower ~ '-rok',
                    'iframe': false,
                }) }}
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

